.navbar {
  position: sticky !important;
  top: 0; /* sticks to the very top */
  z-index: 1000 !important; /* keeps it above other elements */
  background: #fff; /* ensure background covers content behind */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
}

.nav-link {
  color: #ccc;
  text-decoration: none;
  padding: 10px 12px;
  border-bottom: 1px solid #444 !important; /* line between items */
}

.nav-link:hover {
  color: #1d6b05 !important;
}

.nav-link.active {
  color: #0d6efd !important;
  font-weight: bold;
}

.navbar-brand i {
  margin-right: 8px;
  color: #dfdfdf; /* Bootstrap primary blue */
}

.offcanvas-body {
  padding-top: 10px;
}
.offcanvas-dark {
  background-color: #212529 !important; /* Bootstrap dark */
  color: white !important;
  transform: translateX(100%);
  transition: transform 0.25s ease-out;
}

.offcanvas-dark.show {
  transform: translateX(0);
}

.offcanvas-dark .btn-close {
  filter: invert(
    1
  ); /* makes the default white icon visible on dark background */
}

.offcanvas-dark .btn-close:hover {
  filter: invert(0.5); /* slightly dimmed on hover */
}

.profile-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-name {
  font-weight: bold;
  color: #fff;
}

.profile-dob {
  font-size: 0.9rem;
  color: #dfdfdf;
  background-color: #3f8cff;
  border: 1.5px solid #3f8cff;
  border-radius: 10px;
}
